.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.product-table th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.product-table thead {
    background-color: #007bff;
    color: #ffffff;
}

.product-table th {
    font-weight: bold;
}

.product-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.product-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.product-table button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;    
}
.filters{
  display: flex;
  justify-content: space-between;
}


.product-select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .product-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

.search-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-box:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ddd;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

h1{
    text-align: center;
}