table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: #ffffff;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.product-table button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;    
}

/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ddd;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

h1{
    text-align: center;
}