.navbar {
    background-color: #004d99; /* Dark blue background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover, button:hover {
    background-color: #003366; /* Slightly darker blue on hover */
    border-radius: 4px;
}

.logoutButton{
    background-color: #004d99;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}
